<launch>
  <node 
    pkg="livox_camera_calib"
    type="multi_dr_lidar_calib"
    name="multi_dr_lidar_calib"
    args="$(find livox_camera_calib)/config/config_dr_lidar_calib.yaml
    $(find livox_camera_calib)/result/multi_dr_lidar/
    1"
    output="screen"
  />
  <!-- <node 
    pkg="rviz"
    type="rviz"
    name="rviz"
    args="-d $(find livox_camera_calib)/rviz_cfg/calib_indoor.rviz"
  /> -->
</launch> 